<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamelifestats.glselevate"
    android:versionCode="12"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gamelifestats.glselevate.GLS_Act_main"
            android:label="@string/brand_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gamelifestats.glselevate.PlayBall_List"
            android:label="@string/brand_name"
            android:parentActivityName="com.gamelifestats.glselevate.GLS_Act_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_main" />
        </activity>
        <activity
            android:name="com.gamelifestats.glselevate.GameEdit"
            android:label="@string/brand_name"
            android:parentActivityName="com.gamelifestats.glselevate.PlayBall_List"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_PlayBall_List" />
        </activity>
        <activity
            android:name="com.gamelifestats.glselevate.Stats"
            android:label="@string/stats"
            android:parentActivityName="com.gamelifestats.glselevate.GLS_Act_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_main" />
        </activity>
        <activity
            android:name="deprecated.ScoutEdit"
            android:label="@string/scout"
            android:parentActivityName="deprecated.Scout" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_main" />
        </activity>
        <activity
            android:name="deprecated.Scout"
            android:label="@string/scout"
            android:parentActivityName="com.gamelifestats.glselevate.GLS_Act_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_main" />
        </activity>
        <activity
            android:name="deprecated.GameMeta"
            android:label="@string/title_activity_game_meta"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="deprecated.GameManager"
            android:label="@string/title_activity_game_manager"
            android:parentActivityName="com.gamelifestats.glselevate.Stats" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.Statbook" />
        </activity>
        <activity
            android:name="deprecated.Stats"
            android:label="@string/stats"
            android:parentActivityName="com.gamelifestats.glselevate.GLS_Act_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_main" />
        </activity>
        <activity
            android:name="com.gamelifestats.glselevate.BballProfile"
            android:label="@string/bball_profile"
            android:parentActivityName="com.gamelifestats.glselevate.GLS_Act_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamelifestats.glselevate.GLS_Act_main" />
        </activity>
        <activity
            android:name="com.gamelifestats.glselevate.GameMeta"
            android:label="@string/title_activity_game_meta"
            >
        </activity>
    </application>

</manifest>
